<p id="notice"><%= notice %></p>

<p>
  <strong>Maker url:</strong>
  <a href="#{<%= @player.maker_url %>}">Maker URL</a>
</p>

<p>
  <strong>Profile page:</strong>
  <a href="#{<%= @player.profile_page %>}">Profile Page</a>
</p>

<p>
  <strong>Rating:</strong>
  <%= @player.rating %>
</p>

